[{$smarty.block.parent}]
[{block name="admin_article_extend_media360"}]
<tr>
    <td class="edittext">
        [{oxmultilang ident="ARTICLE_EXTEND_360PFAD"}]
    </td>
    <td class="edittext">
        <input type="text" class="editinput" size="25" maxlength="[{$edit->oxarticles__beesmittelsachsen360pfad->fldmax_length}]" name="editval[oxarticles__beesmittelsachsen360pfad]" value="[{$edit->oxarticles__beesmittelsachsen360pfad->value}]" [{$readonly}]>
        [{oxinputhelp ident="HELP_ARTICLE_EXTEND_FILE"}]
    </td>
</tr>
[{/block}]